/* * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
/* body {
    color: white;
    margin: 0;
    background-color: white;


} */

.enquete{
    margin-top: 0px;
    display: block;
    background-color: #6C757D;
    background:#1A2D3B;
    font: 16.8px Barlow,sans cherif;

}
.enqh{
    margin-top: 0px;
    padding-top: 50px;
}
.enqh h1{
    text-align:  center;
    color: #FFFFFF;
    font: 35px sf_pro_displayultralight;
}
.accueil{
    display: flex;
    font: 16.8px ;
    width: 100%;
    min-height: 80vh;
    margin-bottom: 0px;
    align-items: center;
    padding-bottom: 57px;
}
.accueil h2{
    font: 22px sf_pro_displayultralight;
    color: #FFFFFF;
}
.accueil p{
    font: 16.8px Barlow,sans cherif;  
}
.intro{
    flex: 1;
    padding: 20px 30px;
    margin-left: 50px;
    height: 250px;
    width: 300px;
    color: #FFFFFF;
    background: #223543;
    
}
.objectifs{
    flex: 1;
    padding: 20px 30px;
    height: 250px;
    width: 300px;
    margin-left: 20px;
    color: #FFFFFF;
    background: #223543;
}
.contenu{
    flex: 1;
    padding: 20px 30px;
    margin-left: 20px;
    margin-right: 50px;
    height: 250px;
    width: 300px;
    color: #FFFFFF;
    background: #223543;
}

/* .navtop {
    color: #FFFFFF;
    background: #fbf9fb;
    height: 60px;
    width: 100%;
    border: 0;
} */
/* .navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
} */
/* .navtop div .imgensae{
    width: 60px;
    margin-left: -110px;
    margin-right: 80px;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #050505;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #0c0c0c;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #ea753b;
    border-bottom: 2px solid #ea753b;
} */
.btn{
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 40%;
    position: relative;
    border: 1px solid;
    border-radius: 4px;
  }
.btn:hover{
    letter-spacing: 4px;
  }
.information{
    display: flex;
    flex-direction: row;
    padding: 0;
    /*background-color: darkslategrey;*/
}
.formulaire{
    background-color: #6C757D;
    background:#1A2D3B;

}
.formulaire h1{
    margin-top: 0px;
    padding-top: 5px;
    text-align: center;
    color: #FFFFFF;
    font: 30px sf_pro_displayultralight;
}
.info {
    width:30% ;
    margin-left: 250px;
    margin-top: 20px;
    color: #FFFFFF;
    background: #223543;
    /*background-color: #5970d6;*/
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: -3px -2px 6px #6c6565, 7px 9px 25px #0b0b0b;

}
.info h2{
    text-align: center;
    font: 20px sf_pro_displayultralight;
    color: #FFFFFF;
}
.info p{
    text-align: center;
    font: 16.8px Barlow,sans cherif; 
    color: #FFFFFF;
}
.tab{
    background: white;
    margin-bottom: 0%;
}
/*Formulaire*/
form {
    width: 45%;
    margin-top: 20px;
    margin-right: 0px;
    background: #3c3c42;
    box-shadow: -3px -2px 6px #6c6565, 7px 9px 25px #0b0b0b;
    padding-left: 40px;
    border-radius: 10px;
    border: 2px ;
    padding: 20px;
    margin-bottom: 20px;


}

label {
    display: block;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom:0px;
    font-weight: bold;
    font-size: smaller;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 0%;
    margin-left: 12px;
    margin-bottom: 5px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #e1dede69;
    border-radius: 5px;
    background: #777272;
    color: black;
}
input :disabled{
    background: #8f8b85 !important;
}
form p{
    color: yellow;
    margin-left: 80px;
}
select
{
    width: 85%;
    padding: 10px;
    margin-top: 0%;
    margin-left: 12px;
    margin-bottom: 5px;
    height: 42px;
    box-sizing: border-box;
    border: 2px solid #e1dede69;
    border-radius: 5px;
    background: #777272;
    color: black;
}
#enqueteForm button {
    cursor:pointer;
    width: 70%;
    padding: 10px;
    margin-top: 0%;
    margin-left: 35px;
    margin-bottom: 5px;
    height: 35px;
    align-content: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(75, 61, 61);
    background: #fbba50;
}
#enqueteForm button:disabled {
    cursor: not-allowed;
    background: #8f8b85 !important;
    color: rgb(131, 120, 120) !important;
}
#enqueteForm button:hover {
    background: #d88a0c;
    color: antiquewhite;
}

.btn-modifier {
    width: 100px;
    height: 28px;
    background-color: rgb(12, 146, 12);
    color: rgb(247, 234, 234);
    border: none;
    margin-left: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
  }
.actions img {
margin-top: 2px;
}
.btn-supprimer {
    width: 100px;
    height: 28px;
    background-color: rgb(212, 40, 40);
    color: rgb(238, 228, 228);
    border: none;
    margin-left: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
  }
/* Style pour les champs désactivés */
input:disabled {
    background-color: #eee;
}


.error-message {
    color: #921608; /* Rouge */
    font-size: 1em;
    margin-top: 5px;
    font-weight: bold;
    
}

.content {
    width: 90%;
    margin: 0 auto; 
    height: 100%;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}
.tabscrol{
    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
}
.ajouter{
 
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    /* max-width: fit-content;
    max-height: fit-content; */
    width: 70%;
    margin-bottom: 0px;
    align-items: center;
}
.ajouter table {
    width: 100%;
    padding-top: 30px;
    border-collapse: separate;
   
}

.ajouter table thead {
    top: 0px;
    position: sticky; 
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0
}

.ajouter table thead td {
    padding: 10px;
    font-weight: bold;
    color: #070707;
    font-size: 14px;
    text-align: center;
    overflow-wrap: break-word;

}
.ajouter table tbody tr {
    background-color: #373636;
    border-bottom: 1px solid #d3dae0;
}

.ajouter table tbody tr:hover {
    background-color: #376ab7;
}
.ajouter table tbody tr:hover td {
    color: #FFFFFF;
}
.ajouter table tbody tr:hover td:nth-child(1) {
    color: #FFFFFF;
}
.ajouter table tbody tr td {
    padding: 10px ;
    text-align: center;
    color: #d3dae0;
}
/* .ajouter table tbody tr td:nth-child(1) {
    color: hsl(98, 85%, 40%);
} */
.ajouter table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}
.ajouter table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
}
.ajouter table tbody tr td.actions .trash {
    background-color: #b73737;
}
.ajouter table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}
.ajouter table tbody tr td.actions .edit {
    background-color: #37afb7;
}
.ajouter table tbody tr td.actions .edit:hover {
    background-color: #319ca3;
}
.ajouter h2{
    font-weight: bold;
    color: #0b0b0b;
    text-align: center;
}
.modifier form {
    padding: 15px 0;
    display: flex;
    flex-flow: wrap;
}
.modifier form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}
.modifier form input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.modifier form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
  margin-top: 15px;
}
.modifier form input[type="submit"]:hover {
    background-color: #32a367;
}
.modify{
    width: 100%;
    align-items: center;
    background-color: #6C757D;
    background:#1A2D3B;
}
.modify form {
    margin-left: 30%;
    padding: 15px 0;
    width: 300px;
    display: flex;
    flex-flow: wrap;
}
.modify form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}
.modify form input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.modify form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
  margin-top: 15px;
}
.modify form input[type="submit"]:hover {
    background-color: #32a367;
}
.modify h2{
    text-align: center;
    color: #FFFFFF;
    font: 30px sf_pro_displayultralight;
}
.supprimer{
    width: 100%;
    align-items: center;
    background-color: #6C757D;
    background:#1A2D3B;
}
.supprimer h2{
    text-align: center;
    color: #FFFFFF;
    font: 30px sf_pro_displayultralight;
}
.supprimer p{
    text-align: center;
    color: #FFFFFF;
    font: 20px sf_pro_displayultralight;
}

.supprimer .yesno {
    display: flex;
    align-content: center;
    margin-left: 50%;
}
.supprimer .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}
.supprimer .yesno a:hover {
    background-color: #32a367;
}
/* .footer{
    height: 30px;
  }
.area{
    padding-top: 0px;
    padding-bottom: 0px;
  }
.footer_contenu{
    margin-left: 30px;
  }
.footer_col ul{
    list-style: none;
  }
.row{
    display: flex;
    flex-wrap: wrap;
  }
.footer_col{
    padding: 0 80px;
    width: 50%;
    
    
  }
.footer_col h4{
    margin-left: 50px;
    font-size: 18px;
    text-transform: capitalize;
    color:rgb(241, 245, 233);
  }
.footer_col .list .Address {
    color: rgb(240, 245, 240); 
    font-size: 15px;
  }
.footer_col .list .Address a {
    color: rgb(242, 244, 245); /* Couleur du texte pour les éléments de classe Address 
  }*/
.sous_footer{
    text-align: center;
    color: yellow;
  }
.footer_liens ul{
    list-style-type: none;
  }
  
.footer_liens .Liens .Address a {
    text-decoration: none;
  }
.footer_liens .Liens .Address a {
    color: rgb(242, 244, 245); 
  }
.footer_liens h4{
    margin-left: 40px;
    font-size: 18px;
    color: rgb(240, 245, 230);
    font-weight: bold;
  } 
/* .img_logo h4{
    margin-top: 0px;
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 5px;
    color: #f9f6f4;
  }
#img_logo{
    margin-left: 5px;
    margin-top: 5Px;
    height: 50px;
}
.img_logo a{
    list-style: none;
  } */